.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.84);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  height: 3rem;
  line-height: 3rem;
  margin: 0 0 0 1rem;
}

iframe {
  border: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
}

.close:after {
  content: "\00D7";
  color: white;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
